<title>My application deployed automatically</title>
  <h1>Hello, World!</h1>
    This method takes two arraylists and two strings. Then it sums integers from first array and same action for the second array.At the end of the method it compares multiple of those 2 sums and lengths of strings(ignoring new lines and spaces in any inputs.For instance;If you enter 1 2 in first box it will be 12 at one line or Oğuz Andaş at third or fourth box it will be OğuzAndaş.Then it returns the higher one.
    Result is {{result}}
	

  <form action="compute" method="post">
        <textarea name="input1" rows="10" cols="30"></textarea>
        <textarea name="input2" rows="10" cols="30"></textarea>
	<textarea name="input3" rows="10" cols="30"></textarea>
        <textarea name="input4" rows="10" cols="30"></textarea>
	
        <br>
        <input type="submit">
  </form>

