<title>My application deployed automatically</title>
  <h1>Hello, World!</h1>
    This method takes two arraylists and two strings. Then it writes integers from 1 to length of word.(For instance, first arraylist and first word argument's lengths is 5, it puts integers from 1 to 5 in indexes of first arraylist and it calculates the sum of all of it same for second array and second word. Then it returns the higher sum.
    Result is {{result}}
	

  <form action="compute" method="post">
        <textarea name="input1" rows="10" cols="30"></textarea>
        <textarea name="input2" rows="10" cols="30"></textarea>
	<textarea name="input1" rows="10" cols="30"></textarea>
        <textarea name="input2" rows="10" cols="30"></textarea>
	
        <br>
        <input type="submit">
  </form>

